<ion-header>
  <ion-navbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <h2 id="dashboard-heading6" style="color:#000000;">
    Upcoming Bookings
  </h2>
  <h3 id="dashboard-heading7" style="color:#000000;">
    Today - {{ todayDate }} {{ monthDate }}
  </h3>
    <ion-card id="dashboard-card24" *ngFor="let booking of bookings">
      <ion-list *ngIf="today == booking.bookDate">
        <ion-item color="none" id="dashboard-list-item49">
          <ion-avatar item-left>
            <img />
          </ion-avatar>
          <h2>
          {{ booking.custName }}
          </h2>
        </ion-item>
        <ion-item color="none" id="dashboard-list-item51">
          <ion-icon name="people" item-left></ion-icon>
          {{ booking.bookPax }}
        </ion-item>
        <ion-item color="assertive" id="dashboard-list-item50">
          <ion-icon name="information-circle" item-left></ion-icon>
          {{ booking.bookNotes }}
        </ion-item>
        <button id="dashboard-button2" ion-button clear color="positive" block style="border-radius:0px 0px 0px 0px;" on-click="goToBookingDetails()">
          View Booking Details
        </button>
      </ion-list>
    </ion-card>
  <h3 id="dashboard-heading8" style="color:#000000;">
    Tomorrow - {{ tomorrowDate }} {{ monthDate }}
  </h3>
  <ion-card id="dashboard-card25" *ngFor="let booking of bookings">
    <ion-list *ngIf="tomorrow == booking.bookDate">
      <ion-item color="none" id="dashboard-list-item52">
        <ion-avatar item-left>
          <img />
        </ion-avatar>
        <h2>
        {{ booking.custName }}
        </h2>
      </ion-item>
      <ion-item color="none" id="dashboard-list-item53">
        <ion-icon name="people" item-left></ion-icon>
        {{ booking.bookPax }}
      </ion-item>
      <ion-item color="balanced" id="dashboard-list-item54">
        <ion-icon name="information-circle" item-left></ion-icon>
        {{ booking.bookNotes }}
      </ion-item>
      <button id="dashboard-button3" ion-button clear color="positive" block on-click="goToBookingDetails()">
        View Booking Details
      </button>
    </ion-list>
  </ion-card>
</ion-content>