page-pdp-menus {
    .manage-menu-btn {
        background: #ffd369;
        color: #000;
        height: 4rem;
        margin: {
            bottom: 0; 
        }
    }
    .button-clear-md:hover:not(.disable-hover){
        background-color: #ffd369;
    }
}
