page-pdp-menu {
  .menu-item-con {
    margin: {
      top: 20px;
    }
    @media only screen and (min-width: 768px) {
      margin: {
        left: -0.5%;
        right: -0.5%;
      }
    }
  }
  .menu-item-each {
    margin: 0;
    margin: {
      bottom: 20px;
    }
    width: 100%;
    @media only screen and (min-width: 768px) {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      margin: {
        left: 0.5%;
        right: 0.5%;
      }
    }
  }
}
