page-pdp-dashboard {
  .upcoming-bookings-con {
    @media only screen and (min-width: 768px) {
      margin: {
        left: -0.5%;
        right: -0.5%;
      }
    }
  }
  .each-booking-con {
    width: 100%;
    background: #ffd369;
    margin: 0;
    @media only screen and (min-width: 768px) {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      margin: {
        left: 0.5%;
        right: 0.5%;
      }
    }
    &:not(:last-child) {
      margin: {
        bottom: 20px;
      }
    }
    .item-each {
      .item-inner {
        margin: {
          left: 0;
        }
      }
    }
    .icons-each {
      min-height: unset;
    }
    .info-text-each {
      font: {
        size: 1.4rem;
      }
      color: #000;
    }
    .view-details-btn {
      text-transform: none;
    }
    .button-inner {
      color: #000000;
    }
    .button-clear-md:hover:not(.disable-hover) {
      background-color: #ffd369;
    }
  }
}
