<ion-header>
  
  <ion-toolbar>
    <ion-title text-center>
      {{data1}} Details
    </ion-title>
    <!-- <ion-buttons slot="end" >
      <button [ngStyle]="" class="heartbutton" (click)="favmenu(friend)">
      <ion-icon size="large" [name]="visible ? 'heart' : 'heart-empty'"></ion-icon>
    </button>
    </ion-buttons> -->
    <ion-buttons end>
      <button ion-button icon-only (click)="favmenu()">
        <ion-icon [name]="visible ? 'heart' : 'heart-outline'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <h3><Menu></Menu> INFO</h3>
  <ion-list>
    <ion-item *ngFor="let pdp of menuInfo">
      <p>{{pdp.fName}}</p>
      <p>{{pdp.menuName}}</p>
    </ion-item>
    <ion-item class="side-side">
      <ionic3-star-rating [(ngModel)]="rating" style="width:auto;" halfStar="false" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFC300"
        defaultColor="#aaaaaa" readonly="true" fontSize="32px" (ratingChanged)="logRatingChange($event)">
      </ionic3-star-rating>
      <input class="rate" [(ngModel)]="ratingNum" type="decimal" disabled="true" size="3"/>
    </ion-item>
  </ion-list>
  <button class="wholebutton" (click)="navSubmitReview(data1)">
    <h3 style="color:lightgreen">Write a Review</h3>
  </button>
  <h1 text-center>Reviews</h1>
  <ion-card *ngFor="let rev of TopReview;let img of imgInfo" [hidden]="hvInfo">
    <ion-grid>
      <ion-row>
        <ion-col col-12 >
          <ion-avatar style="width:90px;height:90px;margin:0 auto;">
            <img src="{{rev.cleanlinessRating}}">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-12 text-center style="margin-top:-15px;">         
            <ionic3-star-rating [(ngModel)]="rating2" halfStar="false" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFC300"
            defaultColor="#aaaaaa" readonly="true" fontSize="28px" (ratingChanged)="logRatingChange($event)">
          </ionic3-star-rating>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12> 
          {{rev.comments}}
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:10px;">
        <ion-col col-6 text-left style="color:grey">
          <ion-icon name="calendar"></ion-icon>   {{rev.datein | date: "dd MMM yyyy" }}
        </ion-col>
        <ion-col col-6 text-right>
    <b style="font-style:italic;">-{{rev.custName}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <button class="wholebutton" (click)="allReviews()">
    <h3 style="color:lightgreen">See all Reviews</h3>
  </button>
</ion-content>