<!--
  Generated template for the FavouritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Favourites</ion-title>
  </ion-navbar>
</ion-header>
<!-- <ion-content style="width:100%;" [hidden]="ishidden">
  <ion-list>
    <ion-item *ngFor="let menu of favs" >
      <ion-label class="fulllabel" >
        <button class="wholebutton" item-right (click)="goToMenuPage(menu.menuId)">
          <h3 text-left>{{menu.fName}} </h3>
          <p text-left style="color:grey;">{{menu.menuName}} </p>
          <p text-left>{{menu.menu_category}} </p>
        </button>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-content style="width:100%;" [hidden]="ishiddenimg">
  <ion-label class="fulllabel" >
    <img src="../../assets/imgs/fav_ss.jpg"/>
    </ion-label>
</ion-content> -->
<ion-content padding id="page2" [hidden]="ishidden">
  <ion-card
    id="discover-card21"
    class="discover-card-each"
    *ngFor="let profile of favs"
  >
    <ion-list>
      <ion-item color="none" id="discover-list-item3">
        <ion-avatar item-left>
          <img src="{{profile.img}}" />
        </ion-avatar>
        <h2
          style="margin-bottom:0;font-weight:500;"
          (click)="goToMenuDetailsPage($event, profile)"
        >
          {{profile.fName}}
        </h2>
      </ion-item>
      <div class="discover-image">
        <img src="{{profile.menu_image}}" alt="" />
      </div>
      <div class="discover-info">
        <h5
          id="discover-heading2"
          class="discover-menuname"
          style="color:#000000;font-weight:600;"
          (click)="goToMenuDetailsPage($event, profile)"
        >
          {{profile.menuName}}
        </h5>
        <div class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            ~${{profile.menu_price}}/pax
          </p>
        </div>
        <div id="discover-markdown3" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            {{profile.location}}
          </p>
        </div>
        <div id="discover-markdown4" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:1.3rem;">
            {{profile.menu_tags}}
          </p>
        </div>
        <div class="discover-ratings" *ngFor="let review of totalReviews">
          <span class="each-star" [ngClass]="{'active' : review.avgRating > 0}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
              />
            </svg>
          </span>
          <span class="each-star" [ngClass]="{'active' : review.avgRating > 1}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
              />
            </svg>
          </span>
          <span class="each-star" [ngClass]="{'active' : review.avgRating > 2}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
              />
            </svg>
          </span>
          <span class="each-star" [ngClass]="{'active' : review.avgRating > 3}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
              />
            </svg>
          </span>
          <span class="each-star" [ngClass]="{'active' : review.avgRating > 4}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
              />
            </svg>
          </span>
          <span class="rating-amount">{{review.totalReviews}} reviews</span>
        </div>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
<ion-content style="width:100%;" [hidden]="ishiddenimg">
  <ion-label class="fulllabel">
    <img src="../../assets/imgs/fav_ss.jpg" />
  </ion-label>
</ion-content>
